<!DOCTYPE html>

<html>
    <!--nav bar begins-->
<body id="navigation">
    <header>
      <div class="container">
    <nav>
      <ul>
      <li> <a href="http://ruby-1-chrischelleee.c9users.io:8080/">Home</a> </li>
      <li> <a href="http://ruby-1-chrischelleee.c9users.io:8080/gallery">Gallery</a> </li>
      <li> <a href="http://ruby-1-chrischelleee.c9users.io:8080/empowering-words">Empowering Words</a> </li>
      <li> <a href="http://ruby-1-chrischelleee.c9users.io:8080/need-help">Need Help?</a> </li>
      </ul>
    </nav>
      </div>
    </header>
 </body>
<!--nav bar ends-->
    
    <h1>We understand how difficult it can be to navigate in tough times, or how hard it is to help someone close to you.</h1>
    <h2>Below, are links to hotlines and help for anytime it may be needed.</h2>
    <ul>
<li> <a href="https://suicidepreventionlifeline.org/">Suicide Prevention Hotline</a> </li>
<li> <a href="https://depression.org.nz/get-better/self-help/">Depression and Anxiety self-help</a> </li>
    </ul>
    <p>
        Apps and websites for anxiety:
    </p>
    <ul>
        <li>Headspace</li>
        <li>Zen Garden</li>
        <li>The Thoughts Room</li>
    </ul>
    <p>...and many more. Try to find the one that works your way.</p>
    <!--<p>-->
    <!--    Apps and websites for :-->
    <!--</p>-->
    
    
    
    
    
    
    
    
    
    <h3>We just want you to know, as girls and students, that you are beautiful, strong, and not alone.</h3>
</html>


<style>
    body{background-color: #86B1C3}
    
    a {
    color: #E7E7E7;
    background: double;
    }
    
    h1 {color: white;
    font: Helvetica;
    }
    h2 {
        
    }
    h3 {color: #F8AACF;
    }
    
    
</style>

<!--nav bar style begin-->
<style>
#navigation {
margin: 0;
font-weight: 400;
font-family: "courier", "courier body copy", "courier Header";
}


.container {
width: 80%;
margin: 0 auto;
}

header {
background: #8E8B8B;
}

header::after {
content: '';
display: table;
clear: both;
}

nav {float: center;}

nav ul {
margin: 0;
padding: 0;
list-style: none;
}

nav li {
display: inline-block;
text-align: center;
margin-left: 40px;
padding-top: 23px;
padding-bottom: 23px;
position: relative;
}

nav > ul > li > a {
color: white;
text-decoration: none;
text-transform: uppercase;
}

nav a:hover {
color: white
}

nav a::before {
content: '';
display: block;
height: 5px;
width: 100%;
background-color: white;

position: absolute;
top: 0;
width: 0%
}

nav a:hover::before {
width: 100%
}
</style>
<!--nav bar style ends-->